*{
    text-decoration: none;
    list-style: none;
}

ul{
    display: flex;
    flex-direction: column;
}

.listFruit{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button{
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color:red;
    color: white;
    border: none;
}