.CardFruit{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    position: relative;
    right: 700px;
    
}

span{

    position: absolute;
}
ul{
    position: absolute;
    top:500px;
}

button{
    width: 200px;
    height: 30px;
    position: absolute;
    top:600px;
    color:white;
    font-weight: bold;
    background-color:#0d4faa;
    border-radius: 10px;
    border: 1px solid black;
}
